@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

.App {
  width: 100%;
}

.frame {
  padding: 15%;
  overflow:hidden;
}

.light {
  background: #e1fef7;
  color: #001611;
}

.dark {
  background: #034031;
  color: white;
}

body {
  font-family: "DM Sans", -apple-system, "Helvetica Neue", sans-serif;
  font-size: 22px;
}

h1 {
  line-height: 100%;
  font-size: 60px;
  font-weight: bold;
}

h3 {
  font-size: 30px;
  line-height: 100%;
  font-weight: bold;
}

h4 {
  font-family: "DM Mono", -apple-system, "Helvetica Neue", sans-serif;
  font-size: 24px;
  font-weight: 500;
  font-style: italic;
  line-height: 100%;
}

p {
  font-family: "DM Mono", -apple-system, "Helvetica Neue", sans-serif;
}

.darkGreen {
  color: #034031;
}

.lightBlue {
  color: #e1fef7;
}

.MenuItem {
  background-color: white;
  padding: 15px;
  color: black;
  margin: 7px;
  border-radius: 15px;
}

.Menu{
  background-color: #E1FEF7;
  padding-top: 1px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 15px;
}

.MenuTitle{
  color: #034031;
  font-size: 40px;
  text-align: center;
}

.OrderTitle{
  color: #E1FEF7;
  font-size: 40px;
  text-align: center;
}


.submitButton{
  background-color:#D4EAC3;
  color:#034031;
  font-family: "DM Sans";
  font-size: 24px;
  font-weight: 500; 
  width: 55%;
  padding: 1vh;
  border-radius: 15px;
  border: 2px solid #034031;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  margin:0 auto;
  margin-top: 30px;
  display:block;
}

.interactive{
  display: grid;
  grid-template-columns: 45% auto;
  grid-column-gap: 10%;
  
}

.error{
  color:rgb(204, 5, 5);
  font-family: "DM Sans";
  font-size: 20px;
  margin: 15px 10px -15px 10px;
  text-align: center;
}

/*Images*/
#illo{
  width: 540px;
  object-fit: contain;
  vertical-align: top;
  margin-top: -37%;
}

.password{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.titleContainer{
  display: grid;
  grid-template-columns: 50% auto;
  grid-column-gap: 10%;
  align-content: center;
}

.transitionContainer{
  position: relative;
}

#chef{
  width: 100vw;
  margin-left: -18%;
  margin-bottom: -22.7%;
  z-index: -1;
  object-fit: contain;
}

#chefText{
  width: 43%;
  margin-top: -37%;
}

.OrderItem{
  background-color: #F3D5FE;
  color:black;
  font-family: "DM Mono";
  font-size: 14px;
  width:100px;
  height: 150px;
  text-align: center;
  padding:10px;
  margin: 10px;
}

.empty{
  background-color: none;
  border:2px solid #F3D5FE;
  width:100px;
  height: 150px;
  padding:8px;
  margin: 10px;
  text-align: center;
}

.question{
  font-size: 60px;
  color: #F3D5FE;
  margin-top:30px;
}

.OrderContainer{
  display: grid;
  grid-template-columns: auto auto auto;
}

/*checkbox*/

.container {
  display: block;
  position: relative;
  padding-left: 50px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border: 2px solid #BAE7DC;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #BAE7DC;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #BAE7DC;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark::after {
  content: "";
  position: absolute;
  display: none;
}


/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
  
}

/* Style the checkmark/indicator */
.container .checkmark::after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark::after {
  display: block;
}
